<img id="hidden_img" src="" hidden>
<video id="webcamhidden" hidden></video>
<canvas id="hidden-canvas" hidden></canvas>
<div class="container-fluid pt-2">
    <div class="row mt-3">
        <div class="col-12">
            <video id="webcam" autoplay playsinline width="220" height="220"></video>
        </div>
        <div class="col-12">
            <canvas id="cam-canvas" width="220" height="220" hidden></canvas>
        </div>
    </div>
    <div class="row mt-3">
        <div class="btn-group d-flex" role="group">
            <button type="button" id="predictBtn" class="btn btn-success w-100" onclick="predict_cam()">Predict</button>
            <button type="button" id="clearBtn" class="btn btn-secondary w-100" onclick="clear_cam()">Clear</button>
        </div>
    </div>
</div>
