<div class='container-fluid'>
    <div class="canvas row">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
            <div class="row">
                <div class="d-flex justify-content-center ml-5">
                    <canvas id="canvas" width="220px" height="220px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-2 d-sm-none"></div>
        <div class="col-8 col-sm-6 col-lg-5 col-xl-4">
            <div class="row mt-3 mt-sm-0 mb-2">
                <label for="brush-colour" class="col-12 col-sm-7 text-dark p-sm-0">Brush Colour</label>
                <div class="col-12 col-sm-5">
                    <input type="color" id="brush-colour" class="w-100" onchange="updatePreview()">
                </div>
            </div>
            <div class="row mb-2 mb-sm-3">
                <label for="brush-width" class="col-12 col-sm-7 text-dark p-sm-0">Brush Width (<span id="current-width">20</span>px)</label>
                <div class="col-12 col-sm-5">
                    <input type="range" id="brush-width" class="w-100" min="1" max="50" value="20" step="1"
                        onchange="updatePreview()">
                    <span class="text-dark"></span>
                </div>
            </div>
            <div class="row">
                <span for="brush-preview" class="col-12 col-sm-7 text-dark p-sm-0">Brush Preview</span>
                <div class="col-12 col-sm-5">
                    <canvas id="brush-preview" width="50" height="50"></canvas>
                </div>
            </div>
        </div>
        <div class="col-2 d-sm-none"></div>
    </div>
    <div class="row mt-4">
        <div class="btn-group d-flex" role="group">
            <button type="button" id="predictBtn" class="btn btn-success w-100"
                onclick="predict_drawing()">Predict</button>
            <button type="button" id="clearBtn" class="btn btn-secondary w-100"
                onclick="clear_canvas()">Clear</button>
        </div>
    </div>
</div>