<!-- Macro for field rendering -->
{% macro render_field(field, placeholder_='') %}
<p>
    {{ field.label }}
    {% if placeholder_ != '' %}
    {{ field(class_='form-control', placeholder_=placeholder_) }}
    {% else %}
    {{ field(class_='form-control') }}
    {% endif %}
    {% if field.errors %}
<ul>
    {% for error in field.errors %}
    <li class="alert alert-danger">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</p>
{% endmacro %}

<!-- Macro for rendering flashed messages -->
{% macro render_flashes() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
{% if category == 'error' %}
<p class="alert alert-danger">{{ message }}</p>
{% elif category == 'warning' %}
<p class="alert alert-warning">{{ message }}</p>
{% elif category == 'prediction' %}
<p class="alert alert-success">Predicted Resale Price: S${{ message | int }}</p>
{% endif %}
{% endfor %}
{% endwith %}
{% endmacro %}


{% macro render_card(pred_id, filepath, prediction, probability, predicted_on, del_form) %}
<div class="row">
    <div class="card ball-card {{ prediction.lower().replace(' ', '_') }} bg-dark mb-3 p-1">
        <div class="row">
            <div class="col-3">
                <img src="{{filepath}}" class="img img-fluid img-thumbnail" alt="">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <h4>Prediction</h4>
                        <p>{{prediction}}</p>
                    </div>
                    <div class="col">
                        <h4>Probability</h4>
                        <p>{{(probability * 100.0) | round(2)}}%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Predicted On</h4>
                        <p>{{predicted_on}}</p>
                    </div>
                    <div class="col">
                        <form action="/remove" method="post">
                            {{ del_form.hidden_tag() }}
                            <input type="hidden" name="id" value="{{ pred_id }}">
                            {{ del_form.delete(class_='btn btn-sm btn-outline-danger pl-3 pr-3') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
