{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col"></div>
    <div class="dark-form col-10 col-md-8 col-lg-6 col-xl-4">
        {{ render_flashes() }}
        <form name="signUpForm" action="{{ url_for('auth.sign_up') }}" method="post" class="sign_up">
            {{ form.hidden_tag() }}
            <fieldset class="form-group pb-3">
                {{ render_field(form.email, placeholder_='E.g. john_doe@abc.net') }}
                {{ render_field(form.new_username, placeholder_='E.g. John Doe') }}
                <p class="mb-1">
                    Password Requirements:
                </p>
                <ul class="small">
                    <li>Minimum 8 Characters</li>
                    <li>At least one lowercase letter [a-z]</li>
                    <li>At least one uppercase letter [A-Z]</li>
                    <li>At least one digit [0-9]</li>
                    <li>At least one special character [!@#$%^&*]</li>
                </ul>
                {{ render_field(form.new_password) }}
                {{ render_field(form.confirm_password) }}
                <button type="submit" class="btn btn-success" disabled>Submit</button>
                <button type="reset" class="btn btn-warning">Cancel</button>
            </fieldset>
        </form>
        <a class="toggle-login-mode" href="{{ url_for('routes.login') }}">Have an account? Login Here</a>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
