{% extends "layout.html" %}
{% block content %}
<div class="row pt-5 ml-5 pl-5">
    <div class="col"></div>
    <div class="col-9 pl-5 p-4 bg-dark about-box text-light">
        <h2 class="mb-5">Welcome :)</h2>
        <p>
            This application is designed to recognize 13 different kinds of sports balls. To get started, login at the top or sign up if you do not already have an account. Do note that the you might have to register again the next time.
        </p>
        <p>
            Users can switch between 3 modes of input:
        </p>
        <ul>
            <li>Drawing</li>
            <li>File Upload</li>
            <li>Webcam Capture</li>
        </ul>
        <p>
            The recognized types of balls are as follows:
        </p>
        <ul>
            <li>baseball</li>
            <li>basketball</li>
            <li>beachball</li>
            <li>billiard ball</li>
            <li>bowling ball</li>
            <li>cricket ball</li>
            <li>football</li>
            <li>golf ball</li>
            <li>soccer ball</li>
            <li>tennis ball</li>
            <li>volleyball</li>
            <li>water polo ball</li>
            <li>wiffle ball</li>
        </ul>
        <p>
            Users can review their past predictions through the dashboard. Predictions can be filtered by clicking or double-clicking the corresponding labels in the legend of the pie chart.
        </p>
        <p class="mt-3 mb-0">
            Project done by Ethan and Joshua
        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}